#FE
VITE_API_ENDPOINT ='http://localhost:5157/api'

#BE
JWT_ISSUER = Test
JWT_AUDIENCE = Test
JWT_SECRET = my-h256-secret-please-change-me-asap
MSSQL_SA_PASSWORD = password123!

#DB
MSSQL_DB = scheduler